body {
    background: #e0f9fa;
    color: rgb(0, 0, 0);
    font-size: 5em;
    
    font-family: 'Oswald', sans-serif;
  }

  div {
      display: flex;
      justify-content: center;
      margin-top: 400px;
  }
  
  
  
  
  
  
  
  
  
  
  
  